<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mytv.rtzhdj">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!--
     > Manifest merger failed with multiple errors, see logs

        AS的Gradle插件默认会启用Manifest Merger Tool，若Library项目中也定义了与主项目相同的属性
        （例如默认生成的android:icon和android:theme），则此时会合并失败，并报上面的错误。
    -->
    <!--
 tools:replace="android:icon,android:theme,android:label"
        android:theme="@style/RTAppTheme.NoActionBar"
    -->
    <application
        android:name=".app.base.RTZHDJApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name_cn"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/RTAppTheme.NoActionBar"
        tools:replace="android:theme,android:icon,android:label">

        <!-- arms配置 -->
        <meta-data
            android:name="com.mytv.rtzhdj.app.GlobalConfiguration"
            android:value="ConfigModule" />

        <activity
            android:name=".mvp.ui.activity.StartActivity"
            android:theme="@style/SplashTheme2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- <activity android:name=".mvp.ui.activity.StartActivity" /> -->
        <activity
            android:name=".mvp.ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale"/>
        <activity android:name=".mvp.ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity
            android:name=".mvp.ui.activity.RegisterActivity"
            android:label="@string/title_register"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity
            android:name=".mvp.ui.activity.SettingsActivity"
            android:label="@string/title_settings"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity
            android:name=".mvp.ui.activity.NewsActivity"
            android:label="@string/title_news"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity
            android:name=".mvp.ui.activity.NewsEducationActivity"
            android:label="@string/title_news_education"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity
            android:name=".mvp.ui.activity.NewsPovertyActivity"
            android:label="@string/title_news_poverty"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity
            android:name=".mvp.ui.activity.NewsDetailActivity"
            android:label="@string/title_news_detail"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity android:name=".mvp.ui.activity.NewsLiveActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity
            android:name=".mvp.ui.activity.TopicActivity"
            android:label="@string/title_topic"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity android:name=".mvp.ui.activity.TopicDetailActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity android:name=".mvp.ui.activity.SearchActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity
            android:name=".mvp.ui.activity.StudyRecordActivity"
            android:label="@string/title_study_record"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity
            android:name=".mvp.ui.activity.StudyCoursewareActivity"
            android:label="@string/title_study_courseware"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity android:name=".mvp.ui.activity.NewsSimpleActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity android:name=".mvp.ui.activity.EffectEvaluationActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity
            android:name=".mvp.ui.activity.CompulsoryCourseActivity"
            android:label="@string/title_compulsory_course"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity android:name=".mvp.ui.activity.ElectiveCourseActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity android:name=".mvp.ui.activity.CourseDetailActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity
            android:name=".mvp.ui.activity.MyTaskActivity"
            android:label="@string/title_my_task" />
        <activity
            android:name=".mvp.ui.activity.DoubleReportingActivity"
            android:label="@string/title_double_reporting" />
        <activity
            android:name=".mvp.ui.activity.MyReportingActivity"
            android:label="@string/title_my_reporting" />
        <activity
            android:name=".mvp.ui.activity.VolunteerServiceActivity"
            android:label="@string/title_volunteer_service" />
        <activity
            android:name=".mvp.ui.activity.ReportCommunityActivity"
            android:label="@string/title_report_community" />
        <activity
            android:name=".mvp.ui.activity.SurroundingCommunityActivity"
            android:label="@string/title_surrounding_community" />
        <activity android:name=".mvp.ui.activity.WishWallActivity" />
        <activity
            android:name=".mvp.ui.activity.DonateActivity"
            android:label="@string/title_donate" />
        <activity
            android:name=".mvp.ui.activity.MyDonationActivity"
            android:label="@string/title_my_donation" />
        <activity
            android:name=".mvp.ui.activity.QuestionOnlineActivity"
            android:label="@string/title_online_questionaire" />
        <activity
            android:name=".mvp.ui.activity.VoteOnlineActivity"
            android:label="@string/title_online_vote" />
        <activity android:name=".mvp.ui.activity.EventDetailsActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity
            android:name=".mvp.ui.activity.SignInActivity"
            android:label="@string/title_signin"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity
            android:name=".mvp.ui.activity.NewsCleanActivity"
            android:label="@string/title_news_clean"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity
            android:name=".mvp.ui.activity.NewsCommonActivity"
            android:label="@string/title_news_common"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity
            android:name=".mvp.ui.activity.PartyKnowledgeActivity"
            android:label="@string/title_party_knowledge"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity
            android:name=".mvp.ui.activity.PartyHistoryActivity"
            android:label="@string/title_party_history"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity
            android:name=".mvp.ui.activity.MyReceiveActivity"
            android:label="@string/title_my_receive"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity
            android:name=".mvp.ui.activity.MyReceiveWishActivity"
            android:label="@string/title_my_receive_wish"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity
            android:name=".mvp.ui.activity.PartyMemberActivity"
            android:label="@string/title_party_member"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity
            android:name=".mvp.ui.activity.MembershipCredentialsActivity"
            android:label="@string/title_membership_credentials"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity
            android:name=".mvp.ui.activity.ConnectionTransferActivity"
            android:label="@string/title_connection_transfer"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity
            android:name=".mvp.ui.activity.CommentActivity"
            android:label="@string/title_comment"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity
            android:name=".mvp.ui.activity.UpdatePwdActivity"
            android:label="@string/title_update_pwd"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity
            android:name=".mvp.ui.activity.UpdateInfoActivity"
            android:label="@string/title_update_info"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity
            android:name=".mvp.ui.activity.WebviewActivity"
            android:label="@string/title_webview"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity
            android:name=".mvp.ui.activity.FeedbackActivity"
            android:label="@string/title_feedback"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity
            android:name=".mvp.ui.activity.BindingMobileActivity"
            android:label="@string/title_binding_mobile"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity
            android:name=".mvp.ui.activity.GradeRankActivity"
            android:label="@string/title_grade_rank"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity
            android:name=".mvp.ui.activity.NewsVideoDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.CourseVideoDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.FindPwdActivity"
            android:label="@string/title_find_pwd"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity
            android:name=".mvp.ui.activity.GetVertifyCodeActivity"
            android:label="@string/title_get_vertify_code"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity
            android:name=".mvp.ui.activity.SetPwdActivity"
            android:label="@string/title_set_pwd"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity android:name=".mvp.ui.activity.GuideActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity
            android:name=".mvp.ui.activity.SendMsgActivity"
            android:label="@string/title_send_msg"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity
            android:name=".mvp.ui.activity.MyMsgActivity"
            android:label="@string/title_my_msg"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity
            android:name=".mvp.ui.activity.PartyMemberDetailActivity"
            android:label="@string/title_party_member_detail"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity android:name=".mvp.ui.activity.VoteDetailActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity
            android:name=".mvp.ui.activity.VoteBriefActivity"
            android:label="@string/title_vote_brief"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity
            android:name=".mvp.ui.activity.VoteResultActivity"
            android:label="@string/title_vote_result"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity
            android:name=".mvp.ui.activity.VoteEntryDetailActivity"
            android:label="@string/title_vote_entry_detail"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity
            android:name=".mvp.ui.activity.VolunteerServiceDetailActivity"
            android:label="@string/title_volunteer_service_detail"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity
            android:name=".mvp.ui.activity.WishDetailActivity"
            android:label="@string/title_wish_detail"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity
            android:name=".mvp.ui.activity.MyJoinActivity"
            android:label="@string/title_my_join"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity android:name=".mvp.ui.activity.NewsAllActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity
            android:name=".mvp.ui.activity.ScoresDetailsActivity"
            android:label="@string/title_scores_details"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity
            android:name=".mvp.ui.activity.QuestionnaireActivity"
            android:label="@string/title_questionaire"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity
            android:name=".mvp.ui.activity.OrganizationActivity"
            android:label="@string/title_organization"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity
            android:name=".mvp.ui.activity.QuestionaireSurveyActivity"
            android:label="@string/title_questionaire"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity android:name=".mvp.ui.activity.NewsEducationSubActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale" />
        <activity android:name=".mvp.ui.activity.TeacherListActivity"
            android:label="@string/title_teacher_list"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale"></activity>
    </application>

</manifest>